# PostgreSQL connection string
DATABASE_URL="postgresql://USER:hotel management system@localhost:5432/hms?schema=public"

# NextAuth
NEXTAUTH_SECRET="generate-a-long-random-string"
NEXTAUTH_URL="http://localhost:3000"
